* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

body {
  height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
  min-height: 100vh;
  /* font-family: 'Rakkas', cursive; */
}

#maintitle {
  width: 100%;
  display: flex;
  color: white;
  position: center;
  cursor: pointer;
}

#form {
  position: fixed;
  right: 4rem;
}
header {
  width: 100%;
  height: 5.5rem;
  position: fixed;
  top: 10;
  left: 10;
  right: 10;
  background: var(--secondary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
/* header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  width: 100%;
} */

header .logo {
  margin-top: 1.65rem;
  margin-left: 5rem;
  font-weight: bolder;
  font-size: 25px;
  color: #fff;
  float: left;
  text-decoration: none;
  cursor: pointer;
}
header .logo:hover {
  color: yellow;
}

.welcome {
  line-height: 2.5;
  color: yellow;
}

.logout {
  line-height: 0;
  margin-left: 2rem;
  color: white;
}
#seatMap {
  margin-top: 10rem;
}
.seat {
  width: 3rem;
  height: 3rem;
  margin: 2px;
  text-align: center;
  line-height: 3.5;
  background-color: lightgray;
  display: inline-block;
  cursor: pointer;
}

.selected {
  background-color: black;
}

.reserved {
  background-color: red;
  cursor: not-allowed;
}

#movie_url {
  width: 30rem;
  height: 40rem;
  left: 5%;
  position: absolute;
}

#book_modal {
  width: 25rem;
  height: 30rem;
  background: white;
  top: 30%;
  right: 16%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
#book_modal ul li {
  margin: 5rem;
}

#book_modal span {
  font-weight: bold;
  margin-right: 1rem;
}

h3 {
  position: absolute;
  top: 25%;
  right: 22%;
}
