html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	background:black;
}
body{
	width:75rem;
	height:75rem;
	margin:0px auto;
	background-image:url('./assets/slide1.jpg');
	background-size:cover;
	background-position:center;
}



#wrap{
	width:22rem;
	background:none;
	position:absolute;
	top:25%;
	left:40%;
}

#signin_wrap{
	width:22rem;
	height:22.5rem;
	display:flex;
	flex-direction:column;	
	justify-content:center;
	align-items:center;
	background:rgba(255,255,255,0);
	box-shadow:0px 3px 15px white;
}
h1{
	width:9.3rem;
  margin:1.5rem auto;
	color:rgba(255,255,255,0.5);
	background:rgba(255,255,255,0);
}
#id_set, 
#password_set,
#check_password{
	width:18.8rem;
	height:3.1rem;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	background:rgba(255,255,255,0);
	margin:1.2rem 1.5rem 0px 1.5rem;
  color:#565656;
}

input{
	height:2rem;
	padding-left:0.5rem;
	background:white;
	border:none;
	border-radius:5px;
	box-shadow:0px 0px 7px yellow;
  font-weight:bold;
}
input:focus{
	outline:none;
}

#btns{
	width:10rem;
	margin:2.5rem auto;
	background:none;
	display:flex;
	justify-content:center;
}
#btns p {  
	display:inline-block;
	background:none;
  margin-left: 0.2rem;
  color: rgba(255,255,255,0.5);
	font-size:1.5rem;
  padding: 3px;
  width: 3.5rem;
  line-height: 1.25rem;
	border:none;
	font-weight:bold;
	cursor:pointer;
}

#btns p:hover{
	color:white;
}
