form {
  width: 600px;
  margin: 200px auto;
}
div {
  width: 100%;
  margin: 15px auto;
}

label {
  display: block;
  padding: 20px;
  font-size: 20px;
}
input {
  width: 96%;
  padding: 10px;
  border: 1px solid #797979;
  margin-left: 20px;
  border-radius: 3px;
  background-color: #373b69;
  color: white;
}
button {
  padding: 10px;
  width: 4.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  color: whitesmoke;
  background: linear-gradient(90deg, #55555f, #373b69);
}
#signin {
  position: absolute;
  left: 57%;
}
#home {
  position: absolute;
  left: 64%;
}
span {
  display: block;
  margin-left: 20px;
  color: red;
  font-style: italic;
}

body {
  background-color: #22254b;
  color: white;
}
