* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

#body2 {
  margin: 0;
  background-color: var(--primary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
  width: 60%;
  margin-left: 125px;
  max-width: 300px;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}

.search::placeholder {
  color: #7378c5;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.movie:hover {
  box-shadow: 0 0 10px white;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
  font-size: 15px;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.tag {
  color: white;
  padding: 10px 20px;
  background-color: black;
  border-radius: 4px;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
  /* 손가락 모양 (클릭 가능한 버튼) */
}

.tag.highlight {
  background-color: var(--secondary-color);
  box-shadow: 0 0 5px white;
  color: yellow;
}

#maintitle {
  width: 100%;
  display: flex;
  color: white;
  position: center;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

header {
  top: 0;
  left: 0;
  right: 0;
  background: var(--secondary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-weight: bolder;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.welcome {
  line-height: 2.5;
  color: yellow;
}

.logout {
  line-height: 0;
  margin-left: 2rem;
}

#loginbar {
  position: absolute;
  right: 400px;
  background-color: var(--primary-color);
  border: none;
  width: auto;
  height: auto;
}

#signbar {
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border: 6px solid;
  text-align: center;
  border-radius: 5px;
  border-color: var(--primary-color);
  right: 320px;
  width: auto;
  height: auto;
}

#big p {
  font-size: larger;
  color: white;
  margin: 0;
}

#log-in {
  margin: 20px;
  padding: 10px;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  color: whitesmoke;
  background-color: var(--secondary-color);
}

.modal-body {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
}

#loginedId {
  color: yellow;
  font-weight: bold;
}
