@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #372b69;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: "Rakkas", cursive;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}

#maintitle2 {
  font-weight: 500;
  font-size: xxx-large;
  color: white;
}

#card_main{
  background-color:aliceblue;
  display: flex;
  justify-content: space-around;
}
.col-md-9{
  text-align: justify;
}

.h1title {
  font-size: 300%;
}

.poverview{
  margin-top: 60px;
  font-size: 200%;
}